.container
  .row.justify-content-center
    .col-md-5
      %h4 Nuevo cliente
      = form_for @customer do |f|
        - if @customer.errors.any?
          #error_explanation
            = render "devise/shared/error_messages", object: @event
        .form-group
          = f.text_field :name,class:"form-control",placeholder: "Nombre"
          %br
        .form-group
          = f.text_field :rfc,class:"form-control",placeholder: "RFC"
          %br
        .form-group
          = f.text_field :telephone_number, class:"form-control",placeholder:" telefono"
          %br
        .actions
          .mb-5
            = f.submit 'Guardar',class:"btn btn-primary"
