!!!
%html
  %head
    %title DocDigitales
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_importmap_tags
  %body
    %p.notice= notice if notice.present?
    %p.alert= alert if alert.present?
    - flash.each do |name, msg|
      = content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String)
    =render '/partials/navigation'
    = yield
    